<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- USER     DB接続文字列 ※TOUSERSINFOテーブル用 -->
    <add key="USER_ConnectionString" value="User Id=rris;Password=rris1;Data Source=RRIS"/>
    <!-- YOKOGAWA DB接続文字列 -->
    <add key="YOKOGAWA_ConnectionString" value="User Id=yokogawa;Password=denki;Data Source=RRIS"/>
    <!-- ARQS     DB接続文字列 -->
    <add key="ARQS_ConnectionString" value="User Id=arqs;Password=arqs_user;Data Source=RRIS"/>
    <!-- MRMS     DB接続文字列 -->
    <add key="MRMS_ConnectionString" value="User Id=mrms;Password=mrms1;Data Source=RRIS"/>
    <!-- RRIS     DB接続文字列 -->
    <add key="RRIS_ConnectionString" value="User Id=rris;Password=rris1;Data Source=RRIS"/>
    <!-- RTRIS    DB接続文字列 -->
    <add key="RTRIS_ConnectionString" value="User Id=rtris;Password=rtris;Data Source=RRIS"/>
    <!-- ログフォルダ保持期間（日数）※最小値「1」 -->
    <add key="LogKeepDays" value="7"/>
    <!-- キューレコード保持期間（日数）※最小値「1」 -->
    <add key="QueueKeepDays" value="1"/>
    <!-- キューレコード削除対象ステータス 01：処理済 02：エラー ※カンマで複数指定可 -->
    <add key="QueueDeleteStatus" value="01,02"/>
    <!-- 1度に取得可能な未処理件数 -->
    <add key="GetQueueCount" value="100"/>
    <!-- スレッド定周期実行フラグ 0：1回実行 1：定周期実行 -->
    <add key="ThreadLoopFlg" value="0"/>
    <!-- スレッド待機時間(ミリ秒) -->
    <add key="ThreadInterval" value="3000"/>
    <!-- 外字変換対象外文字(Unicode)リストファイル名 -->
    <add key="SQ_UNICODE_LIST_FILE" value="UnicodeSQ.txt"/>
    <!-- 以下、SERV設定 -->
    <!-- YOKOGAWA設定 -->
    <!-- パスワード変換設定 0：変換なし 1：MD5変換 2：TOUSERSINFO.USERID適用 -->
    <add key="YOKOGAWA_CONVERT_MD5" value="2"/>
    <!-- 外字変換設定 0：変換なし 1：変換する -->
    <add key="YOKOGAWA_CONVERT_GAIJI" value="1"/>
    <!-- 外字変換後文字列 -->
    <add key="YOKOGAWA_GAIJI_REPLACE" value="■"/>
    <!-- ユーザ管理更新対象カラム ※大文字で設定。最低１カラムは設定すること。 -->
    <!-- ※設定カラム名は右記より転記。 PASSWORD,USERNAME,USERNAMEENG,PASSWORDEXPIRYDATE,PASSWORDWARNINGDATE,USERIDVALIDITYFLAG,BELONGINGDEPARTMENT -->
    <add key="YOKOGAWA_USERMANAGE_UPD_COLS" value="PASSWORD,USERNAME,USERNAMEENG,PASSWORDEXPIRYDATE,PASSWORDWARNINGDATE,USERIDVALIDITYFLAG,BELONGINGDEPARTMENT"/>
    <!-- YOKOGAWA_USERMANAGECOMP.パスワード変換設定 0：変換なし 1：MD5変換 2：TOUSERSINFO.USERID適用 -->
    <add key="YOKOGAWA_USERMANAGECOMP_CONVERT_MD5" value="0"/>
    <!-- YOKOGAWA_USERMANAGECOMP.VIEWRACCESSCTRLFLAG (R) -->
    <add key="YOKOGAWA_USERMANAGECOMP_VIEWRACCESSCTRLFLAG" value="1111000000000000"/>
    <!-- YOKOGAWA_USERMANAGECOMP.VIEWCACCESSCTRLFLAG (C) -->
    <add key="YOKOGAWA_USERMANAGECOMP_VIEWCACCESSCTRLFLAG" value="0001001000000000"/>
    <!-- ユーザ管理更新対象カラム ※大文字で設定。最低１カラムは設定すること。 -->
    <!-- ※設定カラム名は右記より転記。 PASSWORD,COMMISSION,COMMISSION2,VIEWRACCESSCTRLFLAG,VIEWCACCESSCTRLFLAG -->
    <add key="YOKOGAWA_USERMANAGECOMP_UPD_COLS" value="PASSWORD"/>
    <!-- LICENCETOUSE変換設定 職種区分：LINCENSETOUSEに登録する値 USERAPPMANAGE.LICENCETOUSE適用 -->
    <add key="YOKOGAWA_CONVERT_LICENCETOUSE" value="01:1,03:0,01:2"/>
    <!-- LICENCETOUSE変換対象のAPPCODE -->
    <add key="YOKOGAWA_CONVERT_LICENCETOUSE_APPCODE" value="RIS,SERV"/>
    <!-- ARQS設定 -->
    <!-- パスワード変換設定 0：変換なし 1：MD5変換 2：TOUSERSINFO.USERID適用 -->
    <add key="ARQS_CONVERT_MD5" value="0"/>
    <!-- 外字変換設定 0：変換なし 1：変換する -->
    <add key="ARQS_CONVERT_GAIJI" value="1"/>
    <!-- 外字変換後文字列 -->
    <add key="ARQS_GAIJI_REPLACE" value="■"/>
    <!-- ユーザ管理更新対象カラム ※大文字で設定。最低１カラムは設定すること。 -->
    <!-- ※設定カラム名は右記より転記。 PASSWORD,USERNAME,USERIDVALIDITYFLAG -->
    <add key="ARQS_USERMANAGE_UPD_COLS" value="PASSWORD,USERNAME,USERNAMEENG,COMMISSION,COMMISSION2,PASSWORDEXPIRYDATE,PASSWORDWARNINGDATE,USERIDVALIDITYFLAG,GRP,VIEWRACCESSCTRLFLAG,VIEWCACCESSCTRLFLAG"/>
    <!-- 以下、REPORT設定 -->
    <!-- MRMS設定 -->
    <!-- パスワード変換設定 0：変換なし 1：MD5変換 2：TOUSERSINFO.USERID適用 -->
    <add key="MRMS_CONVERT_MD5" value="1"/>
    <!-- 外字変換設定 0：変換なし 1：変換する -->
    <add key="MRMS_CONVERT_GAIJI" value="1"/>
    <!-- 外字変換後文字列 -->
    <add key="MRMS_GAIJI_REPLACE" value="■"/>
    <!-- ユーザ管理更新対象カラム ※大文字で設定。最低１カラムは設定すること。 -->
    <!-- ※設定カラム名は右記より転記。 PASSWORD,USERNAME,USERNAMEENG,PASSWORDEXPIRYDATE,PASSWORDWARNINGDATE,USERIDVALIDITYFLAG -->
    <add key="MRMS_USERMANAGE_UPD_COLS" value="PASSWORD,USERNAME,USERNAMEENG,PASSWORDEXPIRYDATE,PASSWORDWARNINGDATE,USERIDVALIDITYFLAG"/>
    <!-- LICENCETOUSE変換設定 職種区分：LINCENSETOUSEに登録する値 USERAPPMANAGE.LICENCETOUSE適用 -->
    <add key="MRMS_CONVERT_LICENCETOUSE" value="01:1,03:0,01:2"/>
    <!-- 以下、RIS設定 -->
    <!-- RRIS設定 -->
    <!-- パスワード変換設定 0：変換なし 1：MD5変換 2：TOUSERSINFO.USERID適用 -->
    <add key="RRIS_CONVERT_MD5" value="1"/>
    <!-- 外字変換設定 0：変換なし 1：変換する -->
    <add key="RRIS_CONVERT_GAIJI" value="1"/>
    <!-- 外字変換後文字列 -->
    <add key="RRIS_GAIJI_REPLACE" value="■"/>
    <!-- ユーザ管理更新対象カラム ※大文字で設定。最低１カラムは設定すること。 -->
    <!-- ※設定カラム名は右記より転記。 PASSWORD,USERNAME,USERNAMEENG,PASSWORDEXPIRYDATE,PASSWORDWARNINGDATE,USERIDVALIDITYFLAG -->
    <add key="RRIS_USERMANAGE_UPD_COLS" value="PASSWORD,USERNAME,USERNAMEENG,PASSWORDEXPIRYDATE,PASSWORDWARNINGDATE,USERIDVALIDITYFLAG"/>
    <!-- USERINFO_CA設定値 -->
    <!-- ATTRIBUTE:ｸﾞﾙｰﾌﾟID（=GROUPMASTER.ID）デフォルト値 -->
    <add key="RRIS_USERINFO_CA_ATTRIBUTE_DEFAULT" value="-1"/>
    <!-- SECTIONDOCTORMASTER設定値 -->
    <!-- 登録/更新ユーザID -->
    <add key="RRIS_SECTIONDOCTORMASTER_USR_ID" value="yoko"/>
    <!-- 登録/更新ユーザ名称 -->
    <add key="RRIS_SECTIONDOCTORMASTER_USR_NAME" value="システム"/>
    <!-- 表示順設定範囲 職員区分 ※key「RRIS_SECTIONDOCTORMASTER_SHOWORDER_ + 横河職員区分」:value「範囲値(from,to)」-->
    <add key="RRIS_SECTIONDOCTORMASTER_SHOWORDER_01" value="100,199"/>
    <add key="RRIS_SECTIONDOCTORMASTER_SHOWORDER_02" value="200,299"/>
    <add key="RRIS_SECTIONDOCTORMASTER_SHOWORDER_03" value="300,399"/>
    <add key="RRIS_SECTIONDOCTORMASTER_SHOWORDER_04" value="400,499"/>
    <add key="RRIS_SECTIONDOCTORMASTER_SHOWORDER_05" value="500,999"/>
    <!-- 表示順設定範囲 職員区分設定値内で空き番号がなかった場合の、範囲開始デフォルト値 -->
    <add key="RRIS_SECTIONDOCTORMASTER_SHOWORDER_DEFAULT" value="500"/>
    <!-- SECTIONDOCTORMASTER更新対象カラム ※大文字で設定。最低１カラムは設定すること。 -->
    <!-- ※設定カラム名は右記より転記。 DOCTOR_NAME,DOCTOR_ENGLISH_NAME,SECTION_ID,DOCTOR_TEL,TANTO_SECTION_ID,USEFLAG -->
    <add key="RRIS_SECTIONDOCTORMASTER_UPD_COLS" value="DOCTOR_NAME,DOCTOR_ENGLISH_NAME,SECTION_ID,DOCTOR_TEL,TANTO_SECTION_ID,USEFLAG"/>
    <!-- RIS/フィルム管理ユーザ取込制御 -->
    <!--
      ユーザが取込対象となるか、横河職員区分と診療科IDの組み合わせにより、制御を行う。
      
      <例1>
      RISに「全て」のユーザを取込みたい場合は、空を設定する。
      <add key="IMPORT_RIS" value="" />
      
      <例2>
      フィルム管理に横河職員区分「01：医師」のユーザと
      横河職員区分「02：技師」かつ、診療科ID「001,002,003」のユーザを取込みたい場合。 
      <add key="IMPORT_FILM" value="01,02=001|002|003" />
    -->
    <add key="IMPORT_RIS" value=""/>
    <add key="IMPORT_FILM" value=""/>
    <!-- 以下、THERARIS設定 -->
    <!-- RTRIS設定 -->
    <!-- パスワード変換設定 0：変換なし 1：MD5変換 2：TOUSERSINFO.USERID適用 -->
    <add key="RTRIS_CONVERT_MD5" value="1"/>
    <!-- 外字変換設定 0：変換なし 1：変換する -->
    <add key="RTRIS_CONVERT_GAIJI" value="1"/>
    <!-- 外字変換後文字列 -->
    <add key="RTRIS_GAIJI_REPLACE" value="■"/>
    <!-- ユーザ管理更新対象カラム ※大文字で設定。最低１カラムは設定すること。 -->
    <!-- ※設定カラム名は右記より転記。 PASSWORD,USERNAME,USERNAMEENG,PASSWORDEXPIRYDATE,PASSWORDWARNINGDATE,USERIDVALIDITYFLAG -->
    <add key="RTRIS_USERMANAGE_UPD_COLS" value="PASSWORD,USERNAME,USERNAMEENG,PASSWORDEXPIRYDATE,PASSWORDWARNINGDATE,USERIDVALIDITYFLAG"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342"/>
        <!-- Oracle.DataAccessバージョン設定 -->
        <!-- newVersionには、現地環境のOracle.DataAccessバージョンを設定して下さい。 -->
        <!-- [Oracle.DataAccessバージョン確認方法] -->
        <!-- Oracleインストールディレクトリ\ODP.NET\bin\4にOracle.DataAccess.dllファイルが存在するので -->
        <!-- 右クリック → プロパティ → 詳細 → ファイルバージョン で確認して下さい。 -->
        <bindingRedirect oldVersion="2.112.1.0-4.121.2.0" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
